* {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
}

.Page {
	max-width: 1536px;
	margin: 0 auto;
	border: 1px solid green;
}

.green {
	color: lime;
}
.red {
	color: red;
}
