.MuiTabs-flexContainer {
	justify-content: center;
}

.AnimePageNavbar {
	margin: 0 auto;
	width: 60%;
}

.AnimeHomePage {
	display: flex;
	width: 100%;

	.LeftSideBarContainer {
		border: 1px solid yellow;
		padding: 10px;
		width: 20%;

		.LeftSideBoxContainer {
			border: 1px solid gray;
			margin-top: 20px;
			width: 100%;

			&:nth-of-type(1) {
				margin-top: 0px;
			}

			.LeftSidebarTitle {
				background-color: #1976d2;
				font-size: 20px;
				padding: 0px 10px;
				color: white;
				width: 100%;
			}

			.LeftSidebarCardContainer {
				object-fit: contain;
				max-height: 200px;
				margin: 10px 0px;
				display: flex;

				.AnimeRank {
					font-weight: 600;
					font-size: large;
					padding: 10px;
					color: gray;
				}

				.AnimeImage {
					object-fit: cover;
					max-height: 100px;
					height: 100%;
					width: auto;
				}

				.CardDetailsContainer {
					justify-content: space-evenly;
					flex-direction: column;
					padding: 5px 10px;
					display: flex;
					width: 50%;

					.AnimeTitle {
						font-weight: 600;
						max-width: 100%;
						font-size: 12px;
						color: navy;
					}

					.AnimeEpisodes {
						font-size: 11px;
					}
				}
			}

			.ExtendArrow {
				justify-content: center;
				align-items: center;
				margin: 10px 0px;
				display: flex;
				color: navy;
				width: 100%;
				svg {
					cursor: pointer;
				}
			}
		}
	}

	.CentralSection {
		width: 60%;
		padding: 10px;

		border: 1px solid red;
	}

	.RightSectionContainer {
		width: 20%;
		padding: 10px;

		border: 1px solid gray;
	}
}

.AllAnimePage {
	padding: 20px;
	display: flex;
	width: 100%;

	.LeftSection {
		flex-direction: column;
		margin-right: auto;
		margin-right: 10px;
		display: flex;
		min-width: 75%;

		.Header {
			margin: 20px 0px;
			font-size: 30px;
			font-weight: 600;
		}

		.AZFilter {
			justify-content: space-evenly;
			border: 1px solid red;
			flex-direction: column;
			height: fit-content;
			align-items: center;
			min-height: 100px;
			display: flex;

			.LetterContainer {
				justify-content: space-evenly;
				display: flex;
				width: 100%;
				p {
					text-decoration: underline;
					font-weight: 600;
					font-size: 22px;
					color: blue;
					&.Active {
						color: red;
					}
				}
			}
		}

		.AnimeList {
			border: 1px solid blue;
			height: 100%;

			.AnimeContainer {
				padding: 10px;
				display: flex;

				&:nth-of-type(odd) {
					background-color: lightgray;
				}

				.ImageContainer {
					img {
						max-height: 170px;
						object-fit: cover;
						width: 120px;
					}
				}

				.AnimeDetailsContainer {
					flex-direction: column;
					padding: 0px 10px;
					display: flex;

					.AnimeTitle {
						font-weight: 600;
						color: navy;
					}
				}
			}
		}
	}
	.RightSection {
		margin-left: 10px;
		width: 100%;

		.GenreFilter {
			justify-content: space-evenly;
			border: 1px solid green;
			flex-direction: column;
			align-items: center;
			display: flex;
			height: 100%;
			width: 100%;

			p {
				text-decoration: underline;
				font-weight: 600;
				font-size: 22px;
				color: blue;
				margin: 10px;

				&.Active {
					color: red;
				}
			}
		}
	}
}
