.SettingsPage {
	background-color: whitesmoke;
	max-width: 1440px;
	color: black;
	margin: 0 auto;
	display: flex;
	width: 100%;

	.UserDisplay {
		justify-content: space-evenly;
		border: 1px solid green;
		min-height: 150px;
		padding: 20px;
		display: flex;
		width: 100%;

		&.LoadingDisplay {
			justify-content: center;
			align-items: center;
		}

		.LeftSection {
			flex: 1;

			h2 {
				text-transform: capitalize;
			}
		}
		.RightSection {
			flex: 1;
		}
	}

	.SettingsMenu {
		border-right: 1px solid gray;
		height: fit-content;
		flex: 1;

		.AccountSection,
		.ComponentSection,
		.OtherSection {
			flex-direction: column;
			text-align: center;
			display: flex;

			h2 {
				background-color: $SecondaryAccent;
				margin: 10px auto 0px auto;
				text-align: center;
				font-weight: 600;
				font-size: 22px;
				color: white;
				padding: 15px;
				width: 100%;

				&:nth-of-type(1) {
					margin-top: 0px;
				}
			}

			span {
				border-bottom: 1px solid gray;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				display: flex;
				height: 50px;
				width: 100%;

				&.Active {
					background-color: lightgray;
					font-weight: 600;
				}

				svg {
					margin-right: 10px;
				}

				&:nth-last-of-type(1) {
					border-bottom: none;
				}
			}
		}

		.AccountSection {
		}
		.ComponentSeciton {
		}
		.OtherSection {
			h2 {
				margin: 0px;
			}

			.LogoutButton {
				background-color: $MainAccent;
				border-radius: 10px;
				margin: 20px auto;
				cursor: pointer;
				padding: 10px;
				width: 220px;
				border: none;
			}
		}
	}

	.SettingsWindow {
		height: fit-content;
		flex: 2;

		> div:nth-of-type(2) {
			padding: 20px;

			h2 {
				text-align: center;
				font-weight: 600;
				width: 100%;
			}
		}
	}

	.GeneralSection {
	}
	.StocksSection {
	}
	.AnimeSection {
	}
}
